.filter-form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
}

.form-title {
  letter-spacing: 2px;
}

label {
  padding-left: 10px;
  margin-top: 2rem;
  font-size: 18px;
  letter-spacing: 2px;
}

input,
select {
  background-color: #343434;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  -webkit-appearance: none;
}

input:focus,
select:focus {
  outline-color: white;
}

select:hover {
  cursor: pointer;
}

/* Range Input */

datalist {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 10px;
}

option {
  font-size: 12px;
}

input[type=range] {
  background: transparent;
  border-color: transparent;
  -webkit-appearance: none;
  margin: 0;
  width: 105%;
  align-self: center;
}

input[type=range]:focus {
  outline: none;
}

/* Trackbar */

/* Styles for Chrome */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #343434;
  border-radius: 50px;
  border-color: transparent;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #343434;
}

input[type="range"]::-moz-range-track {
  /* Styles for Firefox */
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #343434;
  border-radius: 50px;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-track {
  /* Styles for IE */
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #343434;
  border-radius: 50px;
  border-color: transparent;
  color: transparent;
}

/* Thumb */

input[type=range]::-webkit-slider-thumb {
  /* Styles for Chrome */
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-color: transparent;
  background: #fff;
  color: #fff;
  cursor: pointer;
  margin-top: -6px;
}

.slider::-moz-range-thumb {
  /* Styles for Firefox */
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-color: transparent;
  background: #fff;
  color: #fff;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-ms-thumb {
  /* Styles for IE */
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-color: transparent;
  background: #fff;
  color: #fff;
  cursor: pointer;
  margin-top: -6px;
}
