.hidden {
  display: none !important;
}

main,
.container {
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
}

/* mobile view */
.container,
.nav-bar {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full,
.column-half,
.column-third {
  width: 100%;
}

.filter-form {
  width: 325px;
}

.movie {
  padding-top: 15px;
}

.img-div {
  width: 250px;
}

.movie-desc {
  padding: 0 10px;
  margin-bottom: 1.5rem;
}

/* desktop view */
@media screen and (min-width: 768px) {
  .container {
    padding: 30px 0;
  }

  .container,
  .nav-bar {
    max-width: 900px;
  }

  .column-full,
  .column-half, {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-third {
    width: 33.3%;
  }

  .filter-form {
    width: 400px;
  }

  .movie {
    padding-bottom: 20px;
  }

  .img-div {
    width: 350px;
  }

  .movie-desc {
    padding-left: 40px;
  }

  .spin-again-button,
  .add-button,
  .added-button {
    margin-top: 1rem;
  }

  .added-button {
    margin-left: 0.7rem;
  }
}
