.hidden {
  display: none !important;
}

main,
.home {
  min-height: 100vh;
}

.container {
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
}

.result-column-10 {
  width: 10%;
}

.result-column-80 {
  width: 80%;
}

.break-word {
  overflow-wrap: break-word;
}

/* mobile view */
.nav-bar,
main {
  max-width: 575px;
  margin: 0 auto;
}

.column-full,
.column-half,
.column-quarter {
  width: 100%;
}

header {
  top: auto;
  bottom: 0;
}

.home {
  padding-top: 1rem;
}

.filter-form {
  width: 300px;
}

.result-heading-container {
  padding: 0.5rem 2.5rem 0.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.result-heading {
  max-width: 500px;
  margin: auto;
}

.result-roulette-title,
.fa-arrow-left {
  font-size: 1.4rem;
}

.movie-container {
  padding-top: 2.5rem;
}

.movie {
  padding-top: 15px;
}

.movie-result {
  animation: fade-in 0.4s ease;
}

.img-div {
  width: 250px;
}

.movie-desc {
  padding: 0 10px;
  margin-bottom: 3rem;
}

.spin-again-container {
  position: sticky;
  position: -webkit-sticky;
  bottom: 2.5rem;
  z-index: 5;
}

.add-buttons-container {
  margin-bottom: 3rem;
}

.spin-wheel-button,
.spin-again-button,
.trailer-button,
.add-button,
.added-button {
  width: 225px;
}

/* desktop view */
@media screen and (min-width: 768px) {
  .nav-bar,
  main {
    max-width: 900px;
  }

  .container {
    padding: 30px 0;
  }

  .column-full,
  .column-half, {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-quarter {
    width: 25%;
  }

  header {
    top: 0;
    bottom: auto;
  }

  .home {
    padding-top: 3rem;
  }

  .filter-form {
    width: 400px;
  }

  .result-heading-container {
    padding: 4rem 2.5rem 1rem;
    position: static;
    max-width: 900px;
  }

  .result-heading {
    max-width: 100%;
  }

  .result-roulette-title,
  .fa-arrow-left {
    font-size: 2rem;
  }

  .watchlist-container {
    padding-top: 4.5rem;
  }

  .movie {
    padding-bottom: 20px;
    height: 100%;
  }

  .movie-result {
    animation: slide-down 0.4s ease;
  }

  .img-div {
    width: 350px;
  }

  .movie-desc {
    padding-left: 40px;
  }

  .spin-again-container {
    position: static;
  }

  .spin-again-button,
  .trailer-button,
  .add-button,
  .added-button {
    margin-top: 1rem;
    width: 190px;
  }

  .added-button {
    margin-left: 0.7rem;
  }
}
