.hidden {
  display: none !important;
}

.container {
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
}

/* mobile view */
.container,
.nav-bar {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full,
.column-half,
.column-quarter {
  width: 100%;
}

.filter-form {
  width: 325px;
}

.roulette-title-div {
  display: none;
}

.movie-container,
.watchlist-container {
  padding-top: 3rem;
}

.movie {
  padding-top: 15px;
}

.img-div {
  width: 250px;
}

.movie-desc {
  padding: 0 10px;
  margin-bottom: 3rem;
}

.spin-again-container {
  position: sticky;
  position: -webkit-sticky;
  bottom: 1.5rem;
}

.add-buttons-container {
  margin-bottom: 3rem;
}

/* desktop view */
@media screen and (min-width: 768px) {
  .container {
    padding: 30px 0;
  }

  .container,
  .nav-bar {
    max-width: 900px;
  }

  .column-full,
  .column-half, {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-quarter {
    width: 25%;
  }

  .filter-form {
    width: 400px;
  }

  .result {
    padding-top: 6rem;
  }

  .roulette-title-div {
    display: block;
    background: black;
    position: absolute;
    top: 30px;
    padding-top: 18px;
    left: 0;
    width: 100%;
  }

  .watchlist-container {
    padding-top: 4rem;
  }

  .movie {
    padding-bottom: 20px;
    height: 100%;
  }

  .img-div {
    width: 350px;
  }

  .movie-desc {
    padding-left: 40px;
  }

  .spin-again-button,
  .trailer-button,
  .add-button,
  .added-button {
    margin-top: 1rem;
  }

  .added-button {
    margin-left: 0.7rem;
  }

  .spin-again-container {
    position: static;
  }
}
