body {
  background-color: black;
}

header {
  background-color: #343434;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-bar {
  padding: 0 3rem;
}

.home-button,
.watchlist-button {
  color: rgb(191, 191, 191);
  display: inline-block;
  padding: 0.4rem 0;
  margin-right: 3rem;
  align-self: flex-end;
}

.home-button {
  font-size: 20px;
  padding-bottom: 0.6rem;
}

.watchlist-button {
  font-variant: small-caps;
  font-size: 24px;
}

.highlight {
  color: white;
}

.home,
.result {
  padding-top: 3rem;
}

.container {
  background-color: white;
}

.roulette-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.spin-wheel-button,
.spin-again-button,
.add-button,
.added-button {
  border: none;
  font-size: 1.3rem;
  width: 250px;
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.spin-wheel-button {
  background-color: white;
}

.spin-again-button,
.add-button {
  background-color: black;
}

.added-button {
  background-color: transparent;
  width: 300px;
}

.fa-check-circle {
  padding-right: 7px;
}

.fa-trash {
  font-size: 20px;
  position: relative;
  left: 12px;
  bottom: 4px;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.delete-box {
  background-color: black;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.delete-confirmation {
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.delete-modal-buttons {
  justify-content: space-around;
}

.cancel-button,
.delete-button {
  border: none;
  font-size: 18px;
  padding: 8px 20px;
  letter-spacing: 1px;
}

.cancel-button {
  background-color: transparent;
}

.delete-button {
  background-color: white;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 100;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.amiko {
  font-family: 'Amiko', sans-serif;
}

.center {
  text-align: center;
  justify-content: center;
}

.border-radius {
  border-radius: 10px;
}

.padding-bottom {
  padding-bottom: 5px;
}

.home-button:hover,
.watchlist-button:hover,
.spin-wheel-button:hover,
.spin-again-button:hover,
.add-button:hover,
.added-button:hover,
.fa-trash:hover,
.cancel-button:hover,
.delete-button:hover {
  cursor: pointer;
}
