body {
  background-color: black;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-bar {
  padding: 0 2.5rem;
}

.home-button,
.watchlist-button {
  color: rgb(191, 191, 191);
  display: inline-block;
  padding: 0.1rem 0 0.4rem;
  margin-right: 2.5rem;
  align-self: flex-end;
}

.home-button {
  font-size: 24px;
  padding-bottom: 0.6rem;
}

.watchlist-button {
  font-variant: small-caps;
  font-size: 28px;
}

.highlight {
  color: white;
}

main {
  background-color: white;
}

.home {
  background-color: black;
}

.home-roulette-title {
  margin: 1rem 0;
}

.result-heading-container {
  background-color: black;
}

.back-button-container {
  align-self: center;
}

.spin-wheel-container {
  margin-top: 3rem;
}

.spin-wheel-button,
.spin-again-button,
.trailer-button,
.add-button,
.added-button {
  border: none;
  font-size: 1.3rem;
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.spin-wheel-button {
  background-color: white;
}

.spin-again-button,
.trailer-button,
.add-button {
  background-color: black;
}

.added-button {
  background-color: transparent;
}

.fa-play,
.fa-plus {
  color: white;
  padding-right: 10px;
}

.fa-play {
  font-size: 16px;
}

.fa-check-circle {
  padding-right: 7px;
}

.fa-trash {
  font-size: 20px;
  position: relative;
  left: 12px;
  bottom: 4px;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.delete-box {
  background-color: black;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.delete-confirmation {
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.delete-modal-buttons {
  justify-content: space-around;
}

.cancel-button,
.delete-button {
  border: none;
  font-size: 18px;
  padding: 8px 20px;
  letter-spacing: 1px;
}

.cancel-button {
  background-color: transparent;
}

.delete-button {
  background-color: white;
}

.watchlist-empty {
  font-size: 18px;
  padding: 3rem 0;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 100;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.amiko {
  font-family: 'Amiko', sans-serif;
}

.center {
  text-align: center;
  justify-content: center;
}

.border-radius {
  border-radius: 10px;
}

.padding-bottom {
  padding-bottom: 5px;
}

.no-results {
  padding-inline: 35px;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.try-again {
  margin-top: 30px;
  width: fit-content;
  background-color: black;
  border: none;
  font-size: 1rem;
  padding: 8px 20px;
}

.network-error {
  margin-top: 50px;
  padding-inline: 35px;
  text-align: center;
  font-size: 18px;
}

.home-button:hover,
.watchlist-button:hover,
.back-button,
.spin-wheel-button:hover,
.spin-again-button:hover,
.trailer-button:hover,
.add-button:hover,
.added-button:hover,
.fa-trash:hover,
.cancel-button:hover,
.delete-button:hover,
.try-again:hover {
  cursor: pointer;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0.5;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0.5;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* loader */
.result-loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 50px;
}

.loading-text {
  font-variant: small-caps;
  font-size: 18px;
  margin-top: 10px;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
