header {
  background-color: #343434;
}

main {
  background-color: black;
}

.container {
  background-color: white;
}

.nav-bar {
  padding: 0 2.5rem;
}

.home-button,
.watchlist-button {
  display: inline-block;
  margin: 0.7rem 0;
  padding-right: 2.5rem;
}

.underline {
  text-decoration: underline;
}

.roulette-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.filter-form {
  margin: 3rem auto;
}

.form-title {
  margin-bottom: 2rem;
}

label {
  padding-left: 10px;
}

input {
  background-color: #343434;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 5px;
}

input:focus {
  outline-color: white;
}

.spin-wheel-button,
.spin-again-button,
.add-button {
  border: none;
  font-size: 1.3rem;
  width: 250px;
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.spin-wheel-button {
  background-color: white;
}

.spin-again-button,
.add-button {
  background-color: black;
}

.home-button:hover,
.watchlist-button:hover,
.spin-wheel-button:hover,
.spin-again-button:hover,
.add-button:hover {
  cursor: pointer;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 100;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.amaranth {
  font-family: 'Amaranth', sans-serif;
}

.amiko {
  font-family: 'Amiko', sans-serif;
}

.center {
  text-align: center;
  justify-content: center;
}

.border-radius {
  border-radius: 10px;
}

.padding-bottom {
  padding-bottom: 5px;
}
