body {
  background-color: black;
}

header {
  background-color: #343434;
}

.container {
  background-color: white;
}

.nav-bar {
  padding: 0 2.5rem;
}

.home-button,
.watchlist-button {
  display: inline-block;
  margin: 0.7rem 0;
  padding-right: 2.5rem;
}

.underline {
  text-decoration: underline;
}

.roulette-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.filter-form {
  margin: 3rem auto;
}

.form-title {
  margin-bottom: 2rem;
}

label {
  padding-left: 10px;
}

input {
  background-color: #343434;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 5px;
}

input:focus {
  outline-color: white;
}

.spin-wheel-button {
  background-color: white;
}

.spin-again-button,
.add-button {
  background-color: black;
}

.spin-wheel-button,
.spin-again-button,
.add-button {
  border: none;
  font-size: 1.3rem;
  width: 250px;
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.fa-trash {
  font-size: 20px;
  position: relative;
  left: 12px;
  bottom: 4px;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 100;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.amaranth {
  font-family: 'Amaranth', sans-serif;
}

.amiko {
  font-family: 'Amiko', sans-serif;
}

.center {
  text-align: center;
  justify-content: center;
}

.border-radius {
  border-radius: 10px;
}

.padding-bottom {
  padding-bottom: 5px;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-box {
  background-color: black;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.delete-confirmation {
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.delete-modal-buttons {
  justify-content: space-around;
}

.cancel-button {
  background-color: transparent;
}

.cancel-button,
.delete-button {
  border: none;
  font-size: 18px;
  padding: 8px 20px;
  letter-spacing: 1px;
}

.home-button:hover,
.watchlist-button:hover,
.spin-wheel-button:hover,
.spin-again-button:hover,
.add-button:hover,
.fa-trash:hover,
.cancel-button:hover,
.delete-button:hover {
  cursor: pointer;
}
